/llama-proxy/config.yaml
/llama-proxy/debug
/llama-proxy/e2e/target
/llama-proxy/target
/llama-proxy/trash
/opencode/container_data/.bash_history
/opencode/container_data/config/opencode/oh-my-opencode.json.bak
/scratch
/server/llamacpp/vendor
/server/vllm/*log
/server/vllm/scratch/
/server/vllm/server.log
/server/vllm/vendor/
/vendor
